@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  @apply flex justify-center items-center;
}

.center-y {
  @apply flex flex-col justify-center;
}

.center-x {
  @apply flex flex-col items-center;
}

tbody {
  counter-reset: row-num;
}

tbody tr {
  counter-increment: row-num;
}

tbody tr td:first-child::before {
  content: counter(row-num) ". ";
}

tbody {
  @apply block overflow-auto;
}

thead,
tbody tr {
  @apply w-full table table-fixed;
}

tbody tr:nth-child(odd) {
  @apply bg-gray-300
}

tbody::-webkit-scrollbar {
  display: none;
}

tbody {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}